/* Conteneur principal */
.article {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
/* =================== */
/* Élément de conteneur 1ere colonne */
.article__div {
    flex-grow:1 ;
    flex-shrink:0 ;
    flex-basis: 200px ;
}

.article__div h2 {
}

.article__div p {}

.article:nth-of-type(odd) .article__figure {
    order: -1;
    padding-left: 50px;
}

.article:nth-of-type(even) .article__figure {
    order: 1;
    padding-right: 50px;
}


/* Élément de conteneur 2e colonne */
.article__figure {
    /* flex-grow: ;
    flex-shrink: ;
    flex-basis: ; */
}



.article__img {
    height: 200px;
}

.article__figcaption {}