.galerie {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 10px;
  padding-top: 20px;
}

.galerie__figcaption {
}

.galerie__img {
  display: block;
  width: 100%;
  margin: 0;
  z-index: 1;

  transition: transform 1s cubic-bezier(0.5, 1, 0.5, 0.5),
    border 1s cubic-bezier(0.5, 1, 1, 1);
}

.galerie__img:hover {
  transform: scale(1.35);
  z-index: 10;
  border: 2px solid black;
}

img {
  display: block;
  width: 100%;
  margin: 0;
}

.galerie__figure {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 250px;
}

.position__absolute {
  position: absolute;
  z-index: 1;
  padding-left: 700px;
  color:white;
}
