.global {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    
}

.global h1 {
    margin: 3px;
    padding: 3px;
    margin-top: 10px;
    font-size: clamp(1rem,2rem, 3rem);
    background-color: rgba(242, 169, 169, 0.172);
    border: 1px transparent;
    border-radius: 20px;
    width: 420px;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}



ol{
    color: rgb(34, 34, 34);
}
.recette__div {
    display: flex;
    flex-direction: column;
      width: 300px;
    /* flex-basis: 350px; */
    flex-grow: 0;
    flex-shrink: 0;
    /* border: 1px solid rgba(255, 255, 255, 0); */
    max-height: 50vh;
    margin-left: 25px;
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



.recette__image {
    width: 350px;
    padding-left: 45px;
    margin-right: 50px;
    margin-top: 50px;
    
}



.recette:nth-of-type(even) .recette__div {
    order: -1;
}
.recette:nth-of-type(odd) .recette__div {
    order: 1;
}

.recette__figure {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    transform: rotate(-5deg);
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1) ;
    border: 1px solid black;
    border-radius: 2px;
}

.recette__figure:hover {
    display: flex;
    flex-wrap: wrap;
    transform: rotate(0deg);
}

.recette__img {
    
    width: 352px;
    order: 0;
    padding-right: 50px;
    /* padding-top: 50px; */

}

.recette__figcaption {
background-color: rgba(0, 0, 0, 0.246);
width: 350px;
color: black;
text-align: center;
font-weight: bolder;
font-size: larger;
}

.recette {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 200px;
  /* border: 1px solid #ddd; */
  border-radius: 8px;   
  width: 1100px;
}

