*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}
section {
    height: 100vh;
}
h1,h2,h3{
    margin: 0;
}

/* ************************ PAGE HERO *********************** */
.acceuil {

padding: 8px;
font-size: 24px;
border-radius: 8px;
background-color: rgba(5, 77, 21, 0.507);
flex-basis: 485px;
flex-shrink: 0;
width: 700px;
display: flex;
text-decoration: none;
color: white;

}

.github {
    text-decoration: none;
    color: orange;
}

.acceuil__div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}


.hero {
    padding: 0;
    max-width: 100%;
    max-height: 100vh;
    margin: 0;
    min-height: 100vh;
    background-repeat: no-repeat;
    
}

.hero > .centre {
    background-color: rgba(12, 99, 16, 0.233);
}

.hero__barresup {
    background-color: rgba(25, 68, 12, 0.404);
    width: 100%;
    height: 75px;
}

.hero__titre {
    font-size: 40px;
    padding-bottom: 20px;
}

.plus_un_size {
    font-size: 30px;
    margin-bottom: 30px;
}

.hero__menu{
    position: fixed;
    width: 600px;
    top: 20px;
    right: 30px;
}


.hero__menu a {
    display: inline-block;
    padding: 5px 10px;
    background-color: rgba(8, 112, 5, 0.466);
    border-radius: 5px 5px;
    text-decoration: none;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



figure {
    margin: 0;
    padding: 0;
}

.centre {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 auto;
    background-color: rgba(255, 255, 255, 0.301);
    height: 100vh;
    color: white;
}

body > div:nth-of-type(1) {
  background: linear-gradient(to top, transparent 80%, rgb(3, 37, 2) 100%),
    url(../image/0f9f104d15e5af864f430346b3075bf6-1546889811.jpg);
    margin: 0;
    padding: 0;
}

body > div:nth-of-type(2) {
    background: linear-gradient(to top, transparent 78%, rgb(93, 56, 8) 100%),
    url(../image/manaachihtow-quiz-saison-1-les-renards-roux-question-numero-4-96497.jpg);
    background-repeat: no-repeat;
    
}

body > div:nth-of-type(3) {
    background: url(../image/renard-tableau.webp) ;

}

.titre {
    padding: 20px;
    margin-bottom: 20px;
    color: black;
}

table { 
    font-size: larger;
    font-weight: bolder;
    padding: 25px;
    color: black;
    border: 1px solid rgb(204, 204, 204);
}

.tableau__head {
    padding: 20px;
}
tbody tr:nth-of-type(odd) {
    background-color: rgba(12, 142, 248, 0.411);
}

th {
    border: 1px solid rgb(85, 0, 255);
    margin-bottom: 20px;
    color: black;
}

td {
    padding: 40px;
    border: 1px solid rgb(21, 0, 255);
}

body > div:nth-of-type(4) {
    background-color: rgb(114, 50, 60);
}
body > div:nth-of-type(5) {
    background-color: rgb(82, 32, 39);
}
body > div:nth-of-type(6) {
    background-color: rgb(39, 12, 16);
}
body > div:nth-of-type(7) {
    color: white;
    background-color: rgb(46, 12, 20);
}

body > div:nth-of-type(8) {
    color: white;
    background-color: rgb(10, 2, 4);
    
}


/* PIED DE PAGE */

footer{
    background-color: #ffffff;
    min-height: auto;
    display: flex;
    flex-wrap: wrap;
}
 
.div__piedpage{
    background-image: url(../image/renard10.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.div__piedpage>.centre{
    background-color: #340707b1;
}
 
a {
    text-decoration: none;
    color: rgb(255, 255, 255)
}
 
ul {
    list-style: none;
}
 
.pied__section {
    padding: 24px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 194px;
    font-size: 16px;
    min-height: auto;
    flex-wrap: wrap;
    max-height: 400px;

}
 
.pied__bouton{
    font-size: 24px;
    text-decoration: none;
    background-color: rgb(165, 15, 15);
    box-shadow: 3px 3px 3px rgb(115, 2, 2);
    padding: 20px;
    border-radius: 30px;
    border: 2px solid #630505;
}
 
.pied__section ul {
    list-style-type: none;
    padding: 11px 0;
    font-size: 1rem;
 
}
 
.pied__section li {
    list-style-type: none;
    padding: 7px 0;
    font-size: 1rem;
 
}
 
.pied__cite {
    display: block;
    font-size: 1rem;
    padding-top: 20px;
}
 
.pied__logos {
    display: flex;
    margin: 10px;
    gap: 187px;
    flex-basis: 100%;
    padding-right: 67px;
}

.pied__logos__effects {
    filter: opacity(100%);
    transition:filter 1s cubic-bezier(0.23, 1, 0.320, 1);
    width: 32px;
}

.pied__logos__effects:hover {
   transition:filter 1s cubic-bezier(0.23, 1, 0.320, 1);
   filter: opacity(0%);
}
 
.pied__img {
    display: block;
    width: 100%;
}
 
.pied__figure {
    margin: 0;
}
 
 
